.style-switcher {
    position: fixed;
    right: 0;
    top: 77px;
    z-index: 998;

    width: 200px;
    padding: 15px;

    background: var(--bg-black-50);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
}

.style-switcher .s-icon {
    position: absolute;
    right: 100%;

    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;

    text-align: center;
    font-size: 20px;
    cursor: pointer;

    color: var(--text-black-900);
    background: var(--bg-black-50);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .s-icon::after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.style-switcher .style-switcher-toggler {
    top: 0;
}

.style-switcher .day-night {
    top: 55px;
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.style-switcher .color-1 {
    background: var(--color-1);
}

.style-switcher .color-2 {
    background: var(--color-2);
}

.style-switcher .color-3 {
    background: var(--color-3);
}

.style-switcher .color-4 {
    background: var(--color-4);
}

.style-switcher .color-5 {
    background: var(--color-5);
}